<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TVMaze.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDA7C1192DCCE11A005D90DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDA7C1262DCCE11B005D90DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDA7C1302DCCE11B005D90DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
